@model Book;

@{
    ViewData["Title"] = "New Book";
}

<div class="text-center">
    <h1 class="display-4">Delete a book from the database</h1>
    <form asp-action="DeleteBookConfirmation">
        <div>
            <label for="Name">Name:</label>
            <input type="text" name="Name">
        </div>
        <div>
            <label for="Isbn">ISBN number:</label>
            <input type="text" name="Isbn">
        </div>
        <input type="submit" value="Submit">
    </form>
</div>